#!/bin/bash

target_dir="{{ feeds_httpd_dir }}"
# Empty cache
dnf clean all --enablerepo=\* > /dev/null 2>&1

{% for repo in repositories_to_track %}
{% for arch in repo.arch %}
{% for repository in repo.repositories %}

/usr/libexec/centos/repo-rss.py --filename=${target_dir}/centos-{{ repo.release }}-{{ arch }}-{{ repository }}.xml --link http://www.centos.org --title "Most recent updated packages for CentOS {{ repo.release }} {{ arch }} {{ repository }}" --description "Most recent updated packages for CentOS {{ repo.release }} {{ arch }} {{ repository }}" --days 30 c{{repo.release }}-{{ arch }}-{{ repository }}  >/dev/null 2>&1

{% endfor %}
{% endfor %}
{% endfor %}
